*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
  background-color: aliceblue;
}

.App{
  /* min-height: 100vh; */
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.Tweet{
  min-height: 10vh;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
  border: 1px solid gray;
}

.red{
  color: red;
  font-size: 20px;
}